
  .Main-Card {
    max-width: 340px;
    max-height: 100%;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 0px 11px rgba(60, 134, 231, 0.34);
  }
  
  .Card-Img {
    min-width: 100%;
    max-height: 160px;
    border-radius: 20px 20px 0px 75px;
  }
  
  .Card-Body {
    margin-left: 5%;
    margin-right: 5%;
    border: 4px;
  }

  .Main-Card:hover {
    transform: scale(1.07);
    border: 4px solid rgba(19, 146, 168, 0.34);
    cursor: pointer;
  }
  
  .Icon-Price {
    width: 60px;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 24px;
    border-radius: 15px;
    color:black;
    background: #2896e0;
  }
  
  .Card-Header {
    min-width: 100%;
    min-height: 40px;
    line-height: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #2896e0;
    text-align: left;
  }
  
  .Card-Text {
    min-width: 100%;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 16px;
    color: black;
    text-align: left;
  }
  
  .Rating-Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
  }
  
  .Star {
    width: 25px;
    height: 25px;
    color: #2896e0;
  }
  
  .Star-Container {
    margin-top: 10px;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  
  .Rating-Count {
    margin-left: 10%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: black;
  }
  
  .Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .Footer-Icon-Group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .Icon {
    color: #2896e0;
  }
  
  .Icon-Text{
    font-size: 15px;
    margin-left: 10px;
    color: black;
  }
  
  @media all and (min-width: 767px) and (max-width: 1024px) {
    .card {
      max-width: 250px;
      min-height: 100%;
      margin-left: 2%;
      margin-right: 2%;
      overflow-x: hidden !important;
    }
  }
  